
*
ul {
    list-style: none;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    color: dimgrey;
    font-size: medium;
    font-family: Calibri;
}

main {
    max-width: 800px;
    margin: 36px auto;
    padding: 15px;
    font-size: 1.4rem;
    line-height: 2.4rem;
}


#h2 {
    font-family: Calibri;
}

#h1 {
    font-family: "Arial Black";
}

#h3 {
    font-family: Calibri;
}

#link {
    font-family:"Arial Black";
    font-size: small;
    color: blue;
}

ol {
    list-style: none;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    color: dimgrey;
    font-size: medium;
    font-family: Calibri;

}

#h4 {
    font-size: medium;
    font-family: Calibri;
}

#overskrift\ 1 {
    font-family: Calibri;
}

#overskrift\ 2 {
    align-items: center;
    font-family: Calibri;
}

header {
    background-color: aliceblue;

}

#billede {
    font-size: 5rem;
    margin-bottom: .5em;
    background: aliceblue;
    width: 700px;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

#image {
        width: 700px;
        height: 150px;
        object-fit: scale-down;
    display: flex;
    justify-content: center;
}

#billedeTekst {
    font-family: "Arial Black";
    font-size: small;
    color: lightblue;

}


#section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}



